@model TrashCollector.Models.Pickup

@{
    ViewData["Title"] = "RequestOneTimeExtraPickup";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

<h1>RequestOneTimeExtraPickup</h1>

<h4>Pickup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RequestOneTimeExtraPickup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Customer_Id" />
            <input type="hidden" asp-for="Address_Id" />
            <input type="hidden" asp-for="Day_Id" />
            <input type="hidden" asp-for="Start_Of_Pickup_Suspension" />
            <input type="hidden" asp-for="End_Of_Pickup_Suspension" />
            <div class="form-group">
                <label asp-for="Date_Of_Extra_Pickup" class="control-label"></label>
                <input asp-for="Date_Of_Extra_Pickup" class="form-control" />
                <span asp-validation-for="Date_Of_Extra_Pickup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

